.console-colors {
    background: black;
    color: #eee;

    a {
        color: inherit;
        text-decoration: none;
	    padding: .15em 0;
    }

    a:hover {
        color: black;
    }

    .green {
        color: #1e1;
    }

    .blue {
        color: #39f;
        
	    a:hover { background: #39f; }
    }
}

.center-block {
    width: 700px;
    margin-left: auto;
    margin-right: auto;

}
