.console-like-block {
    background: black;
    color: #ccc;
    font-weight: bold;
    font-family: Terminus, 'Monospace', monospace;
    padding: 0 1.25em;
    line-height: 1.25;

    a {
        color: inherit;
        text-decoration: none;
	    padding: .1em 0;
    }

    a:hover {
        color: black;
        background: #eee;
    }

    .green {
        color: #1e1;

        a:hover { background: #1e1; }
    }
    a.green:hover { background: #1e1; }


    .red {
        color: #b21;

        a:hover { background: #b21; }
    }
    a.red:hover { background: #b21; }


    .blue {
        color: #57f;
        
	    a:hover { background: #57f; }
    }
    a.blue:hover { background: #57f; }

}

.center-block {
    /*width: 700px;*/
    margin-left: auto;
    margin-right: auto;
}
