@import url('lib/reset.less');
@import url('lib/lib.less');
@import url('globals.less');

html {
    font-size: 100%;
}

body {
    background: white url(/images/m.png) center top repeat;
    font-size: 1.25em;
}

#main-header {
    background: white;
    /*.custom-rounded-corners(0, 0, 20px, 20px);*/
    width: 700px;
    margin: 0 auto;
    overflow: hidden;

    h1 {
        text-align: center;
        font-size: 4em;
        margin-top: 0.25em;
    }

    h2 {
        font-size: 0.8em;
        text-align: center;
        color: #777;
        margin-top: 1em;
        margin-bottom: .5em;
    }

}

#console-breadcrumb {
    .console-colors;
    font-weight: bold;
    font-family: Terminus, 'Monospace', monospace;
    font-size: 0.8em;

    padding: .75em 1em;

    width: 700px;
    margin: 0 auto;
}