@import url('lib/reset.less');
@import url('lib/lib.less');
@import url('globals.less');

/*aside, */ header, footer {
    overflow: hidden;
}

html {
    font-size: 16px;
    background: #eee url(/images/m.png) center top repeat;
    height: 100%;
    font-family: Georgia, serif;
}


* html body {
   height: 100%;
}

body {
    max-width: 51em;
    margin: 0 auto;
    min-height: 100%;

    > header {
        .console-like-block;

        padding-bottom: 0.5em;

        > hgroup {
            padding-bottom: .25em;

            h1 {
                font-size: 4em;
                padding-top: .25em;
                padding-bottom: .075em;
                line-height: 1em;
            }
        }
    }

    > article {
        font-family: 'Roman Uralic', 'Times New Roman', serif;
        padding: 1.5em 0 3em;

        > header {
            padding: 0 1em;
            border-bottom: .15em solid #e83;

            h1 {
                font: normal normal 2.5em/1em 'School Uralic', serif;
                padding: .1em 0 .05em;
                color: #621;
                float: left;
            }

            span {
                color: #ccc;
                font-family: 'Gothic Uralic', Verdana, sans-serif;
                a {
                    color: #ccc;
                    text-decoration: none;
                }
                a:hover {
                    color: #333;
                }
            }
        }

        > section {
            width: 60%;
            margin: .75em 1em .75em;
    
            p, li, dd {
                text-align: justify;
                line-height: 1.5em;
            }

            p + p:first-letter {
                margin-left: 1em;            
            }

            > aside {
                font: italic 1.5em 'Chancery Uralic';
                float: right;
                margin-right: -60%;
                width: 55%;
                color: #789;
                .text-shadow(0, 0, .1em, #fff);
            }
        }
    }
}
